fastapi
uvicorn[standard]
python-multipart
pydantic[email]
pydantic-settings
motor==3.3.2
beanie==1.23.6
redis[asyncio]
PyJWT
passlib[bcrypt]
google-auth
boto3
resend
bleach
pytest
pytest-asyncio
httpx
pymongo==4.6.3
python-jose[cryptography]
python-dotenv
bcrypt==4.0.1

#AI
ollama
huggingface_hub
numpy